html, body, #root {
  margin: 0;
  padding: 0;
  height: 100%;           
  background-color: #BEEF9E;
  font-family: sans-serif;
}

.App {
  text-align: center;
  min-height: 100%;      
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}


.App-header {
  flex: 1;                
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: black;
  background-color: transparent; 
}


