.App {
  text-align: center;
  background-color: #d4f5ba;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  font-weight: bold;
  color: rgb(0, 0, 0);
  font-size: 60px;
}

.App-link {
  color: #61dafb;
}

.left-header{
  text-align: left;
  font-size: 30px;
  padding: 0 0 2% 0;
}

.navButton {
cursor: pointer;
}

.body {
  height: 100vh;
  width: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}




.onboard-body {
  height: 100vh;
  width: auto;
  display: flex;
  align-items: flex-start;
  padding-left: 5%;
  justify-content: left;
  flex-direction: column;
}

.buttonDiv {
  width: 90%;
  display: flex;
  height: 80%;
  flex-direction: column;

  
}

.button {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 7%;
  width: 40%;
  background-color: #beef9e;
  text-align: center;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  
}

.large-button {
  margin: 0 0 5% 0;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 25%;
  width: 70%;
  background-color: #A6C36F;
  text-align: center;
  border: none;
  border-radius: 5px;
}

.timeRow {
  background-color: #A6C36F;
  width: 80%;
  margin: 0 0 5% 0%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  border-radius: 5px;
}

.screentime-viewer {
display: flex;
flex-direction: column;
justify-content: left;
align-items: center;
padding: 0 2% 0 2%;
height: 100vh;
}

.screentime-header {
  display: flex;
  width: 100%;
  text-align: center;
}

.screentime-body {
  display: flex;
  flex-direction: row;
  width: 100%;
  
  justify-content: center;
}

.timeRowDiv {
  display: flex;
  flex-direction: column;
  width: 50%;
}

.aiViewer {
  display: flex;
  flex-direction: column;
  background-color:#A6C36F;
  width: 50%;
}


@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.onboard-body {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}

.navButton {
  cursor: pointer;
  font-size: 18px;
  align-self: flex-start;
}

h2 {
  margin-bottom: 40px;
}

.zigzag-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  position: relative;
  width: 100%;
}



.zigzag-item.left {
  margin-left: 0; /* flush left */
}

.zigzag-item.right {
  margin-left: 150px; /* offset from left item */
}

.zigzag-img {
  width: 250px;
  height: 200px;
  border-radius: 0;
}

.zigzag-label {
  margin-top: 0; /* smaller spacing */
}
